
body {
    background: url("css/BulletinBoard_background.jpg") repeat-y 50% 0 #e3e3e3;
    color: #434445;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 1.3;
    margin: 0 auto;
    min-width: 1000px;
    position: relative;
    width: 100%;
}

.b-header {
    height: 151px;
    background: url("css/BulletinBoard_header.jpg") no-repeat 50% 0;
    /*color: white;*/
    /*font-size: 200%;*/
}

.b-header_content {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.b-logo {
    color: #c1c1c1;
    font: 21px WarHelios, "Arial Narrow", arial, sans-serif;
    display: block;
    min-height: 92px;
    letter-spacing: 1.7px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.93), 0 0 10px rgba(255, 0, 6, 0.22);
    top: 13px;
    width: 172px;
}

.b-logo span {
    color: #cd000e;
    display: block;
    font-size: 11px;
}

.b-content {
    padding-left: 45px;
    padding-right: 45px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    position: relative;
}

.b_ad {
    background-color: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6) inset, 0 0 7px rgba(0, 0, 0, 0.13), 0 0 0 rgba(0, 0, 0, 0.1);
    margin: 0 17px 5px 0;
    padding: 10px;
    position: relative;
    transition: box-shadow 0.1s;
    overflow: hidden !important;
}

.b_ad_right_side {
    float: right;
    width: 10%;
    height: auto;
    background: #888;
}

.b_ad_left_side {
    overflow: hidden;
    height: auto;
}

.b_ad_text {
    margin-right: 5%;
    font-size: 12px;
}

.b-button_right {
    /*border: medium none;*/
    background: url("css/small-orange-button.png") no-repeat 100% 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    margin: 0 -20px 0 2px;
    padding: 0 5px 1px;
    position: relative;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
/*.b-button_right:hover {background-color: #3e8e41}*/
/*.b-button_right:active {*/
    /*background-color: #3e8e41;*/
    /*box-shadow: 0 5px #666;*/
    /*transform: translateY(4px);*/
/*}*/

.b_ad_time_cr {
    line-height: 18px;
    font-size: 12px;
    color: #777;
    margin-right: 5%;
}